#app-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

app-project {
  @apply flex;
  flex-grow: 1;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

//ng-zorro override
body {
  overflow: hidden;
}
