<aside class="navbarLeft">
  <div class="navbarLeft-content">
    <div class="logoLink" title="Jira Clone">
      <svg class="h-8 w-8 text-textLogo"></svg>
    </div>

    <div *ngFor="let item of items" class="item">
      <div
        class="itemIcon"
        (click)="item.handler()"
        nz-tooltip
        [nzTooltipTitle]="item.tooltip"
        nzTooltipPlacement="right"
      >
        <i class="text-xl text-white" nz-icon [nzType]="item.icon" nzTheme="outline"></i>
      </div>
    </div>

    <div class="flex-auto"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</aside>
